@media (max-width: 325px){
    .mainContent{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,200px);
        gap: .3em;
        padding: .3em;
        
        
    }
    .logoImage {
        width:300%;
    }
    #Event{
        grid-column: 1;
        grid-row: 2;
        
    }
    #Weather{
        grid-column: 1;
        grid-row: 3;
        min-width: 200px;
    }
    #Join{
        grid-column: 1;
        grid-row:4;
        visibility: hidden;
    }
    #Hero{
        grid-column: 1;
        grid-row: 1;
       
    }
    #News{
        grid-column: 1;
        grid-row: 4;
        
    }
    #spotlights{
        grid-column: 1;
        grid-row: 5/7;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .3em;
        padding: 1em;
        height: 140%;
    }
    
    #Spotlight1{
        grid-column: 1;
        grid-row: 1;
    }
    #Spotlight2{
        grid-column: 1;
        grid-row: 2;
    }
    #Spotlight3{
        visibility: hidden;
        grid-row: 1;
        grid-column: 1;
    }
    #buildingsGrid{
        display:grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
    }
    #zionsBank{
        grid-column: 1;
    }
    .buildingPhoto{
        transition: none; /* Animation */
        width:100%;
        height: 100%;
    }
    .buildingPhoto:hover{
        transform: none; /* zoom in when hovered over*/
    }
    #directoryWrapper{
        grid-template-columns: 1fr;
    }
    
}